<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API-CLIMA</title>

    <!--ESTILOS-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">


</head>

<body>

    <div class="container mt-5">
        <div class="row">
            <div id="formulario" class="col-sm-12 col-md-6 col-lg-3">
                <h3>Informacion del clima</h3>
                <hr>

                <form>
                    <div class="mb-3 row">
                        <label for="busqueda" class="col-sm-3 col-form-label">Localidad:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="busqueda">
                        </div>
                    </div>
                    <div class="d-grid gap-5">
                        <button class="btn btn-primary" type="submit">BUSCAR!</button>
                    </div>
                </form>

            </div>
            <div id="resultado" class="col-sm-6 col-md-6 col-lg-9">
                <h3>Resultado</h3>
                <hr>
                <div class="row">
                </div>

            </div>
        </div>
    </div>

    <script>

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>



