/*Global*/
*{
	font-family: "OpenSans-Light" Helvetica;
}

@font-face{
	font-family: OpenSans-Regular;
	src: url(../fonts/Open/OpenSans-Regular.ttf);
}
@font-face{
	font-family: OpenSans-Light;
	src: url(../fonts/Open/OpenSans-Light.ttf);
}
@font-face{
	font-family: OpenSans-Bold;
	src: url(../fonts/Open/OpenSans-Bold.ttf);
}

/* Shortcuts */

.pd-0 {
	padding: 0;
	
}
.pt-5 {
	padding-top: 5%;
}
.pt-10 {
	padding-top: 10%;
}
.pb-5{
	padding-bottom: 5%;
}
.pd-5 {
	padding: 5%;
}
.pd-5-10{
	padding: 5% 10%;
}
.mg-0{
	margin: 0;
}
.w-100{
	width: 100%;
}
.lh{
	line-height: 1.5;
}
.text-bold{
	font-weight: bold;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-white{
	color: white;
}
.text-gray{
	color: rgb(83, 88, 95);
}
.text-blue{
 color: #192951;
}
.a-none-decoration{
	text-decoration: none;
}
#bg-gray{
	background-color: #F2F2F2;
	width: 500px;
	height:450px;

	
    
}
#bg-green{
	background-color: #5E8039;
}
#fondo-green{
	background-color: #5E8039;
}
.bg-black{
	background-color: #4D4D4D;
}
.text-gray{
	color:#F2F2F2;
}
.text-black{
	color: #4D4D4D;
	font-family: "OpenSans-Light" Helvetica;
}
.text-green{
	color: #5E8039;
}
.text-white{
	color:#fff;
}
.text-yellow{
	color: #fac60e;
}
#bg-img-block{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../img/semilla.jpg");
	width: 500px;
	height:450px;

}
#bg-mtdo {
	background-image: url("../img/fondo.jpg");

}

#bg-semi {
	background-image: url("../img/fondo2.jpg");
	
}


#icono-twitter {
	background-image: url("../img/twitter.png");
	width: 50px;
	height:50px;
	
}
.fondo-gris {
	background-image: url("../img/fondo2.jpg");
	width: auto;
	height:auto;

}

.img-thubnail {
	background-image: url("../img/ecomunidad-logo.png");
	width: 120px;
	height:120px;
	
}

.fblogofinal {
	background-image: url("../img/facebook.png");
	width: 50px;
	height:50px;

}

.twitterlogofinal {
	background-image: url("../img/twitter.png");
	width: 50px;
	height:50px;

}

.LinkEdinlogofinal {
	background-image: url("../img/in.png");
	width: 50px;
	height:50px;

}

.EmailLogofinal {
	background-image: url("../img/email.png");
	width: 50px;
	height:50px;

}

.twitterlogoequipo {
	background-image: url("../img/iconos/redes-sociales/twitter.png");
	background-position: center;
	background-size: cover;
	width: 40px;
	height: 40px;
	margin:5px;
}

.linkedinlogoequipo {
	background-image: url("../img/iconos/redes-sociales/in.png");
	background-position: center;
	background-size: cover;
	width: 40px;
    height: 40px;
	margin:5px;
}

.emaillogoequipo {
	background-image: url("../img/iconos/redes-sociales/mensaje.png");
	width: 40px;
	height: 40px;
	background-position: center;
	background-size: cover;
	margin:5px;
}
